body{
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

.quiz-container{
    width: 400px;
    margin: auto;
}

.option{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.correct{
    background-color: green;
    color: white;
}

.wrong{
    background-color: red;
    color: white;
}